{% load static i18n %}

<tbody id="log-entries-data" x-data="{ copiedValue: '' }">
{% if log_entries %}
    {% for log_entry in log_entries %}
        <tr class="hover:bg-gray-100">
            <th scope="row" class="border p-2">{{ forloop.counter }}</th>
            <td class="border p-2 relative">
                <div class="flex items-center">
                    <div class="flex-grow min-w-0">
                        {{ log_entry }}
                    </div>
                    <i @click="copyText($event)"
                       class="fa-solid fa-copy copy-icon p-2 focus:outline-none">
                    </i>
                </div>
            </td>
        </tr>
    {% endfor %}

{% else %}
    <tr class="hover:bg-gray-100">
        <td colspan="2">{% trans 'No entries!' %}</td>
    </tr>
{% endif %}

<script>
    function copyText(event) {
        const parentTd = event.target.closest('td');
        const textToCopy = parentTd.textContent.trim();
        navigator.clipboard.writeText(textToCopy);

        Alpine.store('copiedValue', textToCopy);
    }

    Alpine.data('copyText', copyText);
</script>

</tbody>
