{% load static i18n %}


<tbody id="log-files-data">

{% if filenames %}
    {% for filename in filenames %}
        <tr class="hover:bg-gray-100">
            <td class="w-64 cursor-pointer break-all"
                hx-get="{% url 'log_viewer:file_log_entries' filename=filename %}"
                hx-trigger="click"
                hx-target="#log-entries-data"
                hx-swap="outerHTML"
                @click="updateFileName($event); isFileSelected = true">
                {{ filename }}
            </td>
        </tr>
    {% endfor %}

{% else %}
    <tr class="hover:bg-gray-100">
        <td class="w-64" colspan="2">{% trans 'No entries!' %}</td>
    </tr>
{% endif %}

<script>
    function updateFileName(event) {
        const td = event.target;
        const fileName = td.textContent.trim();

        const liveButton = document.getElementById('live-button');
        const stopButton = document.getElementById('stop-button');
        liveButton.setAttribute('hx-get', `/logs/toggle-live/0/${fileName}/`)
        stopButton.setAttribute('hx-get', `/logs/toggle-live/1/${fileName}/`)

        htmx.process(document.body)
    }
</script>

</tbody>
