{% load static i18n %}

<tbody id="log-entries-data">
{% if log_entries %}
    {% for log_entry in log_entries %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ log_entry }}
                <buttton @click="navigator.clipboard.writeText('hellooo')">
                    <i class="fa-solid fa-copy copy-icon"></i>
                </buttton>
            </td>
        </tr>
    {% endfor %}

{% else %}
    <tr>
        <td colspan="2">{% trans 'No entries!' %}</td>
    </tr>
{% endif %}

</tbody>
