{% extends 'admin/base_site.html' %}
{% load static i18n %}
{% block title %}{% trans 'Django Log Viewer' %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'log_viewer:log_file_view' %}">
            {% if custom_file_list_title %}
                {{ custom_file_list_title }}
            {% else %}
                {% trans 'Django Log Viewer' %}
            {% endif %}</a>
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'log_viewer/css/bootstrap-5.3.2-dist/css/bootstrap.css' %}">

    {% if custom_style_file %}
        <link type="text/css" href="{{ custom_style_file }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src={% static 'log_viewer/js/htmx.min.js' %}></script>
    <script src="{% static 'log_viewer/js/alpinejs.min.js' %}" defer></script>
    <script src={% static 'log_viewer/css/bootstrap-5.3.2-dist/js/bootstrap.js' %}></script>
{% endblock %}

{% block content %}
    <div class="django_live_logs">
        <div id="content-main">
            <div class="module filtered" id="changelist">
                <form id="changelist-form" class="changelist-form-container">
                    <div class="results">
                        <div class="headers">
                            <h1 class="pull-left">
                                {% if custom_file_list_title %}
                                    {{ custom_file_list_title }}
                                {% else %}
                                    {% trans 'Django Log Viewer' %}
                                {% endif %}
                            </h1>
                            <div class="download-buttons">
                                <a href="{% url 'log_viewer:log_download_zip_view' %}"
                                   class="btn-download pull-right">
                                    {% trans 'Download all Log Files' %}
                                </a>
                                <a href="{% url 'log_viewer:log_download_file_view' %}"
                                   class="btn-download pull-right btn-download-this-log"
                                   style="display:none">
                                    {% trans 'Download this Log File' %}
                                </a>
                            </div>
                        </div>

                        <div x-data="{ live: false }"
                             @click="live = !live"
                             hx-trigger="click"
                             hx-target="#log-entries-table"
                             hx-swap="outerHTML"
                        >
                            <button id="live-button"
                                    x-show="!live"
                                    class="btn btn-outline-danger pull-right"
                                    hx-get="{% url 'log_viewer:toggle_live' 0 %}">
                                Live
                            </button>
                            <button id="stop-button"
                                    x-show="live"
                                    class="btn btn-outline-primary pull-right"
                                    hx-get="{% url 'log_viewer:toggle_live' 1 %}">
                                Stop
                            </button>
                        </div>

                        <table id="log-entries-table"
                               class="table"
                               hx-get="{% url 'log_viewer:log_entries' %}"
                               hx-trigger="load delay:0s"
                               hx-target="#log-entries-data"
                               hx-swap="outerHTML">
                            <thead>
                            <tr>
                                <th scope="col">{% trans 'No.' %}</th>
                                <th scope="col">{% trans 'Log entries' %}</th>
                            </tr>
                            </thead>
                            <tbody id="log-entries-data">
                            <tr>
                                <td colspan="2">{% trans 'No entries!' %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
                <div id="changelist-filter">
                    <h2>{% trans 'Log Files' %}</h2>
                    <table id="log-files-list" class="table" style="width:100%">
                        <tbody>
                        <tr>
                            <td colspan="2">{% trans 'No entries!' %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
