{% load static i18n %}

<table id="log-entries-table"
       hx-get="{% url 'log_viewer:file_log_entries' file_name=log_file %}"
       hx-trigger="load delay:0s, every 1s"
       hx-target="#log-entries-data"
       hx-swap="outerHTML">
    <thead>
    <tr>
        <th scope="col">{% trans 'No.' %}</th>
        <th scope="col">{% trans 'Log entries' %}</th>
    </tr>
    </thead>
    <tbody id="log-entries-data">
    <tr>
        <td colspan="2">{% trans 'No entries!' %}</td>
    </tr>
    </tbody>
</table>
